<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Aprendendo Servlet</title>
<link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" />
<style type="text/css">
.display_block {
	display: block;
	-webkit-transition: 0.6s ease-in;
	-moz-transition: 0.6s ease-in;
	-o-transition: 0.6s ease-in;
	transition: 0.6s ease-in;
}
</style>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

		<section layout:fragment="conteudo">
			<p>Conteudo </p>
		</section>

		<footer class="container">
			<div th:replace="fragments/footer :: footer">&copy; Leonardo -
				Projeto Spring io - FPU</div>
		</footer>
		
		<script type="text/javascript">
			function chama_modal()
			{   
	
				document.getElementById("edit-modal").className = "modal  display_block";
		
				document.getElementById("btn-fechar").onclick = function(){
				document.getElementById("edit-modal").className = "modal fade";
		
				}; 
			}

			function menu_dropdown_abrir(elem)
			{   
	
				document.getElementById(elem).className = "dropdown open";
				
				document.getElementById(elem).onclick = function(){menu_dropdown_fechar(elem);}; 
				 
			}
			
			function menu_dropdown_fechar(elem)
			{   
	
				document.getElementById(elem).className = "dropdown";
				
				document.getElementById(elem).onclick = function(){menu_dropdown_abrir(elem);};
				
			}
		</script>
		
</body>
</html>