 .white{background: #FFF; color:white}
  .blue_dark{background: #1F253D; color:white}
  .blue_dark_sample{background: #394269; color:white}
  .blue_dark_sample_clean{background: #50597b; color:white}
  .turquoise{background: #1ABC9C; color:white}
  .green_sea{background: #19A085; color:white}
  .emerald{background: #2ECC71; color:white}
  .nephirits{background: #27AE60; color:white}
  .peter_river{background: #3498DB; color:white}
  .belize_hole{background: #2980B9; color:white}
  .wet_asphalt{background: #34495E; color:white}
  .midnight_blue{background: #2C3E50; color:white}
  .sun_flower{background: #F1c40F; color:white}
  .orange{background: #F39C12; color:white}
  .carrot{background: #E67E22; color:white}
  .pumpkin{background: #D35400; color:white}
  .alizarin{background: #E74C3C; color:white}
  .pomegranate{background: #C0392B; color:white}
  .clouds{background: #ECF0F1; color:white}
  .silver{background: #BDC3C7; color:white}
  .concrete{background: #95A5A6; color:white}
  .asbestos{background: #7F8C8D; color:white}
  .trans{background: #00000000 ; color:white}
  .blue_gray{background: #2e3f4c; color:white}
  .Green_gray{background: #015e4c; color:white}
  .orange_gray{background: #c0643b; color:white}
  .blue_gray_light{background: #3c7582; color:white}
  .orange_light{background: #e4be86; color:white}
    .green{background: #3C948B; color:white}
    .granito{background: #343434; color:white}
    .green_light{background: #3C948B; color:white}
    .black_granito{background: #343434; color:white}
    .ice{background: #E1E3E4; color:white}
    .black_granito_ice{background: #313131; color:white}
    .gray_35{background: #232323; color:white}
    .gray46{background: #2e2e2e; color:white}
    .gray_79{background: #4f4f4f; color:white}
    .gray_215{background: #d7d4cc; color:white}
    .dark_green{background: #19664a; color:white}
    .gray_167{background: #a7a7a7; color:white}